<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <nav>
    <span>
        <a href="/"><button type ="button">Home</button></button></a>
        <a href ="/create/"><button type="button"> Generate New URL</button></a>
        <a href ="/list_all_urls/"><button type ="button">View all URLS</button></a>
    </span>
    </body>
    <nav>
        {%block content%}
        {%endblock content%}
</body>
</html>